{% extends 'pub/base.html' %} {% load static %} {% load background_image_tags %}
{% block content %}
<body style="background: url('{% static 'pub/images/fa7.jpg' %}') no-repeat fixed; background-size: cover;">
    <div class="container">
        <div class="card">
            <h5 class="card-header text-center">Toutes les publications</h5>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Identifiant</th>
                        <th scope="col">Nom de l'agence</th>
                        <th scope="col">Commune</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                     {% for data in publications %}
                    <tbody>
                      <tr>
                        <td>{{data.id}}</td>
                        <td>{{data.agency_name}}</td>
                        <td>{{data.cities}}</td>
                        <td>{{data.categories}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.number_1}}</td>
                        <td><a href="#" class="btn btn-outline-success" role="button">Plus d'infos</a></td>
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
            </div>
        </div>
    </div>
</body>

{% endblock %}