body {
  font-size: 16px;
  color: rgb(10, 10, 10);
  background-color: #FCFCFC;
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
.navbar {
	height: 100px;
	text-transform: uppercase;
	font-family: 'Lora'
}

.navbar-brand {
	margin-top: 25px;
}

/** JUMBOTRON **/
.jumbotron {
	background-color: #464c4d;
}

.text-center {
	height: 150px;
}
.text-center h1 {
	text-transform: uppercase;
	font-family: 'Oxygen';
}